<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Love it or Leave it</title>
    <!-- here, ./ refers to the public folder (static asset foler) -->
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
    <!-- no closing tags for html or body! -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/loveit/foods">Foods</a></li>
            <li><a href="/loveit/animals">Animals</a></li>
            <li><a href="/leaveit/movies">Movies</a></li>
            <li><a href="/leaveit/products">Products</a></li>
        </ul>
    </nav>